{% extends "base.html" %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.title.label }} {{ form.title() }}</p>
    <p>{{ form.author.label }} {{ form.author() }}</p>
    <p>{{ form.cover_url.label }} {{ form.cover_url() }}</p>
    <p>{{ form.status.label }} {{ form.status() }}</p>
    {% if current_user.is_admin %}
    <p>{{ form.picked_by.label }} {{ form.picked_by() }}</p>
    {% endif %}
    <p>{{ form.reading_start_date.label }} {{ form.reading_start_date() }}</p>
    <p>{{ form.reading_end_date.label }} {{ form.reading_end_date() }}</p>
    {{ form.submit() }}
</form>
{% set all_errors = form.title.errors + form.author.errors + form.cover_url.errors + form.status.errors + form.picked_by.errors + form.reading_start_date.errors + form.reading_end_date.errors %}
{% if all_errors %}
    <ul>
    {% for error in all_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock content %}
